# Ignore the virtual environment
venv/

#Ignore all .csv files
*.csv

# Ignore all __pycache__ directories
**/__pycache__/

# Ignore the 'data' folder
data/

# Ignore the 'archive' folder
archive/

# Ignore the 'checkpoints' folder
checkpoints/